@font-face {
    font-family: CMUSerif;
    src: url("../font/cmunrm.woff") format("woff"), url("../font/cmunrm.otf") format("opentype");
}

@font-face {
    font-family: CMUSerif;
    font-weight: bold;
    src: url("../font/cmunrb.woff") format("woff"), url("../font/cmunrb.otf") format("opentype");
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: CMUSerif, serif;
    padding: 20px;
    background-color: #eee;
}

fieldset legend {
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row fieldset {
    flex: 1;
    white-space: nowrap;
}

a {
    color: inherit;
}