.fraction {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.fraction,
.numerator,
.denominator {
    padding: 0 5px;
}

.denominator {
    border-top: 1px solid;
    display: block;
}

.invisible {
    display: inline-block;
    width: 0;
    height: 0;
    opacity: 0;
}
